= form_for @reservation do |f|
  - if @reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this reservation from being saved:"
      %ul
        - @reservation.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :date, "Reservation date, enter as MM/DD/YY"
    = f.text_field :date

  .field
    = f.label :start_time, "Reservation start time. Rooms are avaliabe from 9 am - 7 pm, M-F, for 1 hour reservations."
    = f.text_field :time

  .actions
    = f.submit 'Save'
