%p#notice= notice

%article
  %h3= @reservation.date
  %h3= @reservation.time
  %h3= @reservation.room.name

= link_to 'Edit', edit_reservation_path(@reservation)
\|
= link_to 'Back', reservations_path
